<h1>Welcome to the Game Centre!</h1>

<p>Choose a game below to get started:</p>
<table>
	<tr>
		<td>
			<h4>Secret Number</h4>
			<%= image_tag("https://i0.wp.com/chiptatum.com/images/handle-the-truth.gif") %>

		</td>
		<td>
			<h4>Coming soon!</h4>
		</td>
	</tr>

</table>